<div class="dataTables_paginate paging_simple_numbers" id="editable-usage_paginate">
	<ul class="pagination">
		<li class="paginate_button previous disabled">
			<a href="#">Previous</a>
		</li>
		<li class="paginate_button active">
			<a href="#">1</a>
		</li>
		<li class="paginate_button next disabled">
			<a href="#">Next</a>
		</li>
	</ul>
</div>

