<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6">
		<div id="editable-usage_filter" class="dataTables_filter">
			<label>ძებნა:<input type="search"
				class="form-control input-sm" ng-model="DRSTable.searchString"
				ng-change="DRSTable.textSearch(300)"
				aria-controls="editable-usage">
			</label>
		</div>
	</div>
</div>